body {
    background-image:url("images/qbkls/qbkls.png");
    width:960px;
}
.banner {
    padding:40px;
    background-color:white;
    border-bottom: 2px solid #f890e7;
    width:100%;
    position: absolute;

}
.headA {
    background-color:#0bd3d3;
    width:120px;
    padding:28px;
    position:relative;
    text-align:center;
    font-size:24px;
    font-weight:bold;
    font-family:'Ubuntu', sans-serif;
    color:white;
    left:170px;
}
.ldash ul, li+li:before{
    padding: 8px;
    color:#d0d0d0;;
    content: "/\00a0";
}
.navA ul, li {
    display:inline;
    position: relative;
    color:#d0d0d0;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    left:450px;
    bottom:20px;
}
.col-md-12 {
    background-color:white;
    width:500px;
    height:850px;
    margin:30px;
    margin-left:170px;
    border: solid 2px 	#f890e7;
}
#abMe {
    font-size:24px;
    font-weight:bold;
    font-family:'Ubuntu', sans-serif;
    color:#0bd3d3;
    padding-top:20px;
    padding-bottom:20px;
}
#kobe {
    width:280px;
    height: auto;
    border: solid 2px #f890e7;
}
p {
    font-family: 'Sunflower', sans-serif;
    color:#d0d0d0;
    font-style: italic;
    margin-left:50px;
    font-weight: bold;
}
.footer {
    padding:20px;
    padding-bottom:10px;
    background-color:#666666;
    color:white;
    border-top: 8px solid #f890e7;
    width:100%;
    position: absolute;
    text-align:center;
    margin-top:80px;
    font-size: 12px;
    padding-top:40px;

}
button {
    color:black;
    font-weight: bold;
    font-family: 'Sunflower', sans-serif;
}
.input-group{
    font-family: 'Sunflower', sans-serif;
}
#portfP {
    position: static;
    width:200px;
    height:200px;
}
.gametitle {
    position: relative;
    padding:10px;
    background-color:#0bd3d3;
    width:200px;
    bottom:50px;
    font-family: 'Sunflower', sans-serif;
    color:white;
}
a {
    color:#0bd3d3;
    font-family:'Ubuntu', sans-serif;
}
