h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    color:white;
    text-align: center;
}
body {
    font-family: 'Indie Flower', cursive;
    color:white;
    font-size:24px;
    font-weight: bold;
    text-align: center;
    background-image:url("../images/fancy-pants.jpg")
/* 
    MID */
}
#gameScreen {
background-color:#302F35;
float:left;
width:300px;
height:150px;
border-radius: 10px;
border: 2px solid white;
/* margin-left:220px;
  */
   
}
.winsLosses {
    background-color:#302F35;
    float:right;
    width:300px;
    height:150px;
    border-radius: 10px;
    border: 2px solid white
    /* margin-right:220px; */
}
.results{
    background-color:#302f35;
    /* width:300px; */
    height:200px;
    border-radius: 10px;
    border: 2px solid white;
    /* margin-left:500px; */
}

/* GEMS */
#rubyPic {
  height:100px;
  width:100px;
  border-radius: 10px;
  border: 2px solid #9b111e;
}
#sapphirePic {
    height:100px;
    width:100px;
    border-radius: 10px;
  border: 2px solid #0f52ba;
  }
#diamondPic {
    height:100px;
    width:100px;
    border-radius: 10px;
  border: 2px solid #b9f2ff;
  }
#emeraldPic {
    height:100px;
    width:100px;
    border-radius: 10px;
  border: 2px solid #50C878;
  }    















@media only screen and (max-width: 980px) {
    body {
        position:static;
        width:50%;
    }
}
@media only screen and (max-width: 768px) {
    body {
        position:static;
        width:50%;
    }
}
@media only screen and (max-width: 640px) {
    body {
        position:static;
        width:50%;
    }
}
