body {
    font-family: 'Indie Flower', cursive;
    background-image:url(../images/alchemy.gif);
    font-weight: bold;
}
h1 {
    font-family: 'Eczar', serif;
    text-align: justify;
    font-weight: bold;
    font-size: 24px;
    background-image: url(../images/pw_maze_white_@2X.png);
    margin-bottom:30px;
    border-bottom: 3px solid #FF5535;
}
h3 {
    color:white;
    margin-top:4px;
}
hr {
    background-color: #FF5535;
}
footer {
    text-align: center;
    /* position:fixed; */
    bottom:0;
    width:100%;
    height:40px;
    background-image: url(../images/pw_maze_white_@2X.png);
    border-top: 3px solid #FF5535;
    margin-top:10px;
 }
.jumbotron {
    /* background-color: white; */
    border: 3px solid #FF5535;
    border-radius: 20px 50px;
    background-image: url(../images/pw_maze_white_@2X.png);

}

#aboutme {
    color:#FF5535;
    font-size: 32px;
    font-family: 'Eczar', serif;
    font-weight: bold;
}
#justdo{
    width: 100px;
    height: 100px;
}
#name {
    background-color: #FF5535;
    width: 150px;
    position: relative;
    left:200px;
    text-align: center;
    color:white;
    padding:30px
}
.blockT {
    position: relative;
    background-color: #FF5535;
    bottom:60px;
    width:200px;
    border: 3px solid white;
    border-radius: 50px 50px;
    text-align: center;
    font-weight: bold;
}
#meng {
    width: 200px;
    height: 200px;
    border-radius: 20px 50px;
}
.icon {
    width:50px;
    height:50px;
}