body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background-image:url("../images/hypnotize.png")
}

  h1 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size:24px;
    margin-top:30px;
    margin-bottom: 30px;
  }
  p, div {
    margin-top:30px;
    text-align: center;
    font-family: 'Sunflower', sans-serif;
    font-weight: bold;

  }
  
