body {
    background-image: url("../images/hodgepodge.png")
}
h1 {
    text-align: center;
    color:white;
    font-family: 'Roboto Mono', monospace;
}
h2 {
    color:white;
    text-align: center;
}
button {
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    border: 3px solid white;
    border-radius: 20px 50px;
}
label {
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    border: 3px solid white;
    border-radius: 20px 50px;
}
input {
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    border: 3px solid white;
    border-radius: 20px 50px;
}
p{
    color:white;
    font-family: 'Montserrat', sans-serif;
}
img {
    border: 3px solid white;
    border-radius: 50px 20px;
}
#search-form {
    float:right;
}
#goal {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}